<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/bootstrap.php" colors="true" >
    <testsuites>

        <testsuite name="DBPrism Intent Tests">
            <directory>tests/Query/Intent</directory>
        </testsuite>

        <testsuite name="DBPrism Renderer Tests">
            <directory>tests/Query/Renderer</directory>
        </testsuite>

    </testsuites>
</phpunit>